// topbar 
@tb_col: #999;
// topbar-content
@tbc_col: #1e89e0;
// topbar-content-item hover 
@tbci_col:#006bc7;
@tbi_hover_col:#006bc7;
// topbarcontent
@tbc_w : 1178px;
// sidebar
@sb_w : 35px;
// topbar-item
@tbi_w : 104px;
// tobar-item
@tbi_h : 60px;
//topitem-right-list
@trl_w : 500px;
@tr_w : 80px;

@font-face {
	font-family:"icomoon";
	src:url('fonts/icomoon.eot?-wrhawm');
	src:url('fonts/icomoon.eot?#iefix-wrhawm') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-wrhawm') format('truetype'),
		url('fonts/icomoon.woff?-wrhawm') format('woff'),
		url('fonts/icomoon.svg?-wrhawm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@body_col: #f7f7f7;
body {
	margin : 0;
	padding : 0;
	font : 300 1em/1.5 "PingFang SC","Lantinghei SC","Helvetica Neue","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei","sans";	
	background-color: @body_col;
}



#topbar {
	height: @tbi_h;
	background-color : @tbc_col;

	#topbar-content {
		width: @tbc_w;
		margin: 0 auto;
		padding-right:@sb_w;
		height: @tbi_h;
		background-color : @tbc_col;
		
		.topitem {
			float:left;
			line-height: @tbi_h;
			height: @tbi_h;
			width: @tbi_w;

			cursor: pointer;
			background-color : @tbc_col;
			color : white;
			text-align: center;
			vertical-align:middle;

			a {
				text-decoration: none;
				color : white;
				font-weight: bolder;
				font-size: 16px;
			}
			&#tap-father {
				position: relative;
			}
			.tap {
				position: absolute;
				top :5px;
				right:3px;

				font-size: 8px;
				width: 34px;
				height: 15px;
				line-height: 15px;

				background-color : red;
			}
		}
		.topitem:hover {
			background-color : @tbi_hover_col;
		}
		.topitem-right-list {
			float:right;
			width: @trl_w;
			.topitem-right {
				float: left;
				height: @tbi_h;
				line-height: @tbi_h;
				width: @tr_w;
				
				text-align: center;
				vertical-align: middle;
				
				color: #eee;
				cursor: pointer;
			}
			.topitem-right:hover {
				color:white;
			}
			#logReg {
				float: right;
				a {
					color:white
				}
			}
		}
	}
}

@sidebar_col : #504d53;
@side_part_col:#504d53;
@sid_content_col:#e6e6e6;
@icon_hover_col : #26a2ff;

@sidebar_w : 330px;
@side_part_w : 35px;
@side_content_w: 295px;

#sidebar {
	z-index : 7;
	position : fixed;
	top : 0;
	bottom : 0;
	right: -295px;
	width: @sidebar_w;
	transition: all 1s;
	background-color : @sidebar_col;
	&.active {
		-webkit-transform: translate(-@side_content_w,0px);
		-ms-transform: translate(-@side_content_w,0px);
		-o-transform: translate(-@side_content_w,0px);
		transform: translate(-@side_content_w,0px);
	}
	#side-part {
		width: @side_part_w;
		height:100%;
		text-align: center;

		a {
			text-decoration : none;
			color : white;
		}
		[class^="icon-"], [class*=" icon-"] {
			margin: 5px 0;
			display: block;
			line-height: 35px;
			&:hover {
				background-color: @icon_hover_col;
			}
		}
		#side-part-middle {
			text-align: center;
			vertical-align: middle;
			top:50%;
			position: absolute;
			margin-top: -200px;
			width: @side_part_w;

			.divide {
				height: 0;
				border-bottom: 1px solid yellow;
				margin: 0 8px;
			}
			.icon-file-text:before {
				content: "\e603";
			}
			.icon-gift {
				position: relative;
				display: block;
				
				line-height: 18px;
				font-size: 16px;
				font-weight: 700;
				
				padding: 0 8px;
				margin-top: 3px;
				margin-bottom: 3px;
				&:before {
					content: "\e60c";				
				}
			}
			.icon-heart:before {
			    content: "\e60e";
			}
			.icon-history:before {
			    content: "\e604";
			}
		}
		#side-part-bottom {
			position: absolute;
			bottom: 10px;
			width: 35px;

			.icon-user:before {
			    content: "\e607";
			}
			.icon-trophy:before {
			    content: "\e60b";
			}
			.icon-cogs:before {
			    content: "\e60a";
			}
			.icon-home:before {
			    content: "\e600";
			}
		}
	}

	#side-content {
		background-color: @sid_content_col;
		width: @side_content_w;
		margin-left: @side_part_w;
		width: 295px;
		margin-left: 35px;
		position: absolute;
		height: 100%;
		top: 0;
		bottom: 0;
	}
}

@cc_w : 1178px;
@input_h:24px;
@search_h:32px;
@input_col : #ccc;
@cc_col: #f7f7f7;

#content {
	#content-container {
		display: block;
		width: @cc_w;
		margin: 0 auto;
		padding-right: @side_part_w;
		background-color: @cc_col;
		.search {
			float : right;
			border : 1px solid @input_col;
			margin: 10px 0;
			// width: 220px;
			height: @search_h;
			line-height: @search_h;
			input {
				border: 0;
				padding: 0 4px;
				height: @input_h;
				line-height: @input_h;
				margin: 4px 0;
				float: left;
			}
			input:focus {
				outline: 0;
				width: 250px;
  				transition: width .3s ease-in-out;
			}
			.icon-tongue {
				display: inline-block;
				height: 28px;
				float: right;
				line-height: 28px;
				margin: 2px 0;
				padding: 0 12px;
				border-left: 1px solid #ccc;
			}
			.icon-tongue:before {
				content: "\e60f";
			}	
		}
		.address {
			font-size: 8px;
			height : 54px;
			line-height : 54px;
			span {
				color : #ccc;
				margin-right : 10px;
				height: 54px;
				line-height: 54px;
			}
			strong {
				display: inline-block;
				color : #333;
				width : 132px;
				margin-right: 10px;
				height:54px;
				line-height: 54px;
				text-overflow : ellipsis;
				overflow: hidden;
				vertical-align: top;
				cursor: pointer;

				&:hover {
					color : #0089dc;
				}
			}
			a {
				text-decoration: none;
			}
		}
		@pic-show-li-h : 100px;
		.pic-show {
			background-color: #eee;
			height: @pic-show-li-h;
			width: 1178px;
			overflow: hidden;
			position: relative;
			ul {
				transition: all .5s;
				li {
					width: 100%;
					height : @pic-show-li-h
				}
			}
			ul, ol {
				list-style: none;
				margin:0;
				padding:0;
				img {
					width: 100%;
				}
			}
			ol {
				position: absolute;
				bottom: 5px;
				right: 5px;
				li {
					float: left;
					text-align: center;
					background-color: rgba(255,255,255,.5);
					color : #999;
					width: 23px;
					height: 23px;
					line-height: 23px;
					font-weight: bolder;
					margin: 5px;
					cursor : pointer;
					&:hover {
						background-color: red;
						color:white;
					}
					&.active {
						background-color: red;
						color:white;
					}
				}
			}
		}
		.taps-selects {
			height: 42px;
  			// background-color: white;
  			.taps-selects-item {
  				float:left;
  				height:40px;
  				line-height: 40px;
  				padding: 0 10px;
  				font-size: 20px;
				cursor : pointer;
				color : #666;
  				&.active {
  					color : #0089dc;
  					border-bottom: 2px solid #0089dc;
  					margin-bottom: -2px;
  				}

  			}
  			.who-to-play {
  				float : right;
  				width:153px;
				height:40px;
				img {
					width:100%;
				}
  			}
		}
		.taps-contents {
			display: none;
			&.active {
				display: block;
			}
			.taps-contents-item {
				background-color: white;
				.filter-item {
					position : relative;
					padding: 10px 10px 10px 7em;
					border: 1px solid #e6e6e6;
					// background-color: blue;
					.filter-name {
						position : absolute;
						display: inline-block;
						left: 0;
						color : #999;
						margin : 5px;
						padding : 3px 5px;
					}
					.filter-item-t {
						display: inline-block;
						cursor:  pointer;
						color : #666;
						margin : 5px 8px;
						padding : 3px 5px;
						&:hover {
							background-color: #f6f6f6;
						}
					}
				}
				.filter-item-nopadding {
					height: 40px;
					background-color: #f5f5f5;
					border: 1px solid #e6e6e6;
					padding-right : 5px;
					.sorts {
						.sort-item {
							text-decoration: none;
							color : #999;
							float: left;
							margin : 5px;
							padding : 3px 5px;
							&.active {
								color : blue;
							}

						}
						.othersorts {
							float: left;
							margin: 5px;
  							padding: 3px 5px;
							> a {
								text-decoration: none;
								// margin: 5px;
								// padding:3px 5px;
								&:hover + .othersorts-list{
									background-color: white;
									display: block;
								} 
							}
							
							.othersorts-list  {
								position : absolute;
								padding : 3px 5px 3px 0;
								display: none;
								a {
									display: block;
									text-decoration: none;
									// display: none;
									&:hover {
									color : blue;
									}
								}
							}
						}
					}
					.options {
						float: right;
						line-height: 40px;
					}
				}
			}
			.best-game-contents {
				clear : both;
				height: 180px;
				margin: 20px 0;
				> a {
					float : right;
				}
				.place-content {
					position: relative;
					.propover {
						display: none;
						position:absolute;
						width: 200px;
						height: 300px;
						background-color: white;
						border:2px solid #666;
						top:0;
						// left: 295px;
						&.left  .rect-point {
							border-left: 2px solid #666;
							border-bottom: 2px solid #666;
							position: absolute;
							top: 7px;
							left: -7px;
							width: 10px;
							height: 10px;
							background-color: white;
							height: 10px;
							transform: rotate(45deg);
						}
						&.right  .rect-point {
							border-right: 2px solid #666;
							border-top: 2px solid #666;
							position: absolute;
							top: 7px;
							right: -7px;
							width: 10px;
							height: 10px;
							background-color: white;
							height: 10px;
							transform: rotate(45deg);
						}
					}
				}
			}

			.box-container {
				display: block;
				margin : 0;
				padding: 0;
				border: none;

				width: 25%;
				float:left;

				background-color: white;
				cursor: pointer;
				box-sizing: border-box;

				&:hover {
					background-color: #f5f5f5;
				}
				.box-container-logo {
					float: left;
					margin: 5px;
					padding:20px;
						text-align: center;
					img {
						width: 70px;
						height: 70px;
						display: block;
						margin-bottom: 10px;
						margin-right: 10px;
					}
					span {
						color : #ccc;
						font-size:14px;
					}
				}
				.box-container-content{
					padding:20px;
					.box-container-content-title {
						font-size: 16px;
						color:black;
						font-weight: bolder;
					}
					.box-container-content-monthsales {
						font-size: 14px;
						color : #bbb;

					}
				}
			}
			&#used-buy {
				width:100%;
				height: 300px;
				background-color: white;
				// display: none;
			}
		}
	}
}

/* footer  */
#footer {
	margin: 20px 0 0 0;
}
.footer-container {
	width: @tbc_w;
	margin: 0 auto;
	padding-right:@sb_w;
	.footer-link {
		float: left;
		width: 13%;
		margin:20px 0;
		.footer-link-title {
			margin: 0;
			padding: 0;
		}
		.footer-link-item {
			display: block;
			text-decoration: none;
			color : #999;
		}
	}
	.footer-mobile {
		float: left;
		width: 23%;
		padding: 0 20px 0 6%;
		border-left: 1px solid #ccc;
		margin: 20px 0;
		// text-align: center;
		.chat-out-div {
			position: relative;
			display: inline-block;
			cursor : pointer;
			margin:0 5px;
			&:before {
				content: "\e60c";				
			}
			&:hover .chat-div{
				display: block;	
				cursor:pointer;
			}
		}
		.chat-div {
			display: none;
			position: absolute;
			border-radius: 5px;
			// background-color: rgba(100,100,100,1);
			background-color: white;
			width: 120px;
			height: 120px;
			padding: 10px 5px 0 5px;
			text-align: center;
			top: -135px;
			left: -57px;
			&:before {
				content: '';
				/* background-color: black; */
				/* width: 5px; */
				/* height: 5px; */
				border: 5px solid;
				position: absolute;
				display: block;
				bottom: -10px;
				left: 45%;
				border-color: white transparent transparent;
			}
			img{
				margin: 0 auto;
				width: 80px;
				height: 80px;
				display: block;

			}
			span {
				font-size: 10px;
			}
		}
		.footer-content-item {
			margin-bottom: 14px;
			font-size: 14px;
			color: #666;
			a.icon-gift {
				color : black;
				text-decoration: none;
				padding: 0;
				margin: 0;
				&:before {
						content: "\e60c";				
				}
			}			
		}
		

	}
	.footer-contact {
		float: left;
		width: 23%;
		// padding: 0 20px 0 6%;
		margin: 20px 0;
		a {
			float: left;
			img {
				width: 80px;
				height: 80px;
				margin-right: 20px;
			}

		}
		h3 {
			margin-top: 0;
		}
	}

}

